<h1>Projects</h1>
<div>
    <%= link_to "Crear Nuevo" , projects_create_path %>
<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Inicio</th>
    <th>Termino</th>
    <th>Estado</th>
  </tr>

    <% @projects.each do |project| %>
        <tr>
            <td><%= project.name %></td>
            <td><%= project.description %></td>
            <td><%= project.begin %></td>
            <td><%= project.end %></td>
            <td><%= project.state %></td>
        </tr>
    <% end %>
  
</table>